---
import SocialMediaRow from './SocialMediaRow.astro';
import Accordion from "./Accordion";
import Line from './Line.astro';
// Data
import links from '../data/footerLinksData.json';
---

<footer class="w-full px-10 xl:px-[200px] 2xl:px-[350px] shadow-2xl">
  <!-- Accordion -->
  <ul class="w-full bg-white flex flex-col lg:flex-row lg:justify-start lg:gap-x-16 space-y-4 pt-8 pb-8">
    {
      links.map(link => (
        <Accordion client:visible title={link.title} links={link.links} />
      ))
    }
  </ul>
  <Line />
  <!-- Iconos -->
  <div class="w-full py-5 flex justify-start sm:justify-center items-center">
    <SocialMediaRow />
  </div>
  <!--  -->
  <div class="flex flex-col sm:flex-row items-start justify-center [&>div]:flex gap-x-4 gap-y-4 sm:gap-y-2 [&>div]:space-x-4 flex-wrap py-5 text-gray-600 md:text-gray-400 text-sm font-light [&>div>span]:hidden [&>div>span]:sm:inline-block tracking-wide [&>div>a]:duration-200">
    <div>
      <a href="/" class="hover:text-gray-600">Accesibilidad Web</a>
      <span>|</span>
    </div>
    <div>
      <a href="/" class="hover:text-gray-600">Aviso de privacidad</a>
      <span>|</span>
    </div>
    <div>
      <a href="/" class="hover:text-gray-600">Boletines</a>
      <span>|</span>
    </div>
    <div>
      <a href="/" class="hover:text-gray-600">Condiciones de uso</a>
      <span>|</span>
    </div>
    <div>
      <a href="/" class="hover:text-gray-600">Mapa del sitio</a>
      <span>|</span>
    </div>
    <div>
      <a href="/" class="hover:text-gray-600">Preferencias sobre cookies</a>
    </div>
  </div>
  
  <!--  -->
  <div class="mt-5 pb-10">
    <p class="text-xs font-extralight text-gray-500 text-center">Ⓒ 2023. Starbucks Cofee Company. Reservados todos los derechos</p>
  </div>
</footer>