---
import { Category } from "../types/types";
interface Props extends Category{}
const {image, text} = Astro.props;
---
<div class="w-full bg-white flex flex-col items-center justify-start gap-y-3">
  <figure class="w-[150px] h-[150px] sm:w-[200px] sm:h-[200px] rounded-full p-5 bg-[#1E3932]">
    <img src={image.source} alt={image.alt} >
  </figure>
  <h3 class="text-sm md:text-base lg:text-lg font-bold text-[#2b2b2b] px-2 text-center">{text}</h3>
</div>