---
// types
import {Category} from '../types/types';

import Line from "../components/Line.astro";
import MenuCard from "../components/MenuCard.astro";

const {category, name} = Astro.props;
---
<section>
  <Line />
  <h2 class="text-sm md:text-base lg:text-lg font-semibold text-[#2b2b2b] sm:my-3 lg:my-5">{name}</h2>
  <Line />
  <section class="grid grid-cols-2 md:grid-cols-3 gap-6 lg:gap-14 xl:gap-16 mt-4">
    {
      category.map((item:Category) => (
        <MenuCard
          text={item.text}
          image={{ source: item.image.source, alt: item.image.alt }}
        />
      ))
    }
  </section>
</section>
