---
import { Icon } from "astro-icon";
---

<div class="flex gap-x-5 [&>a]:duration-200 [&>a]:h-10 [&>a]:w-10 [&>a]:rounded-full">
  <a
    href="/"
    class="hover:translate-y-1 hover:opacity-80"
  >
    <Icon
      name="gg:facebook"
      className="text-5xl text-white rounded-full bg-[#2b2b2b] p-2"
    />
  </a>
  <a
    href="/"
    class="hover:translate-y-1 hover:opacity-80"
  >
    <Icon
      name="mdi:instagram"
      class="text-5xl text-white rounded-full bg-[#2b2b2b] p-2"
    />
  </a>
  <a
    href="/"
    class="hover:translate-y-1 hover:opacity-80"
  >
    <Icon
      name="mdi:twitter"
      class="text-5xl text-white rounded-full bg-[#2b2b2b] p-2"
    />
  </a>
  <a
    href="/"
    class="hover:translate-y-1 hover:opacity-80"
  >
    <Icon
      name="mdi:youtube"
      class="text-5xl text-white rounded-full bg-[#2b2b2b] p-2"
    />
  </a>
</div>
