---
// Imports
import "../styles/global.css";
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle ? `${pageTitle} | Starbucks` : "Starbucks"}</title>
    <link rel="icon" type="image/x-icon" href="/logo.svg" />
  </head>
  <body>
    <Header client:load />
    <slot />
    <Footer />
  </body>
</html>
